/* Sidenav Styles */
.sidenav-container {
  position: fixed !important;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  z-index: 1100;
  pointer-events: none;
}

.mat-sidenav {
  z-index: 1101 !important;
  pointer-events: auto;
  width: auto; /* ancho automático según el contenido */
  min-width: 180px;
  max-width: 320px;
}

.sidebar-nav {
  display: flex;
  flex-direction: column;
 
/*  align-items: flex-start;*/
gap: 0.1rem;
  margin-top: 2rem;
  padding-left: 1rem;
}

.sidebar-nav a {
  width: 100%;
  text-align: left;
   align-items: flex-start;
}

/* Elimina .menu-btn si no usas el botón dentro del sidenav */