<div class="modal-backdrop"></div>
<div class="modal-content">
  <ng-container *switch="formType()">
    <app-sign-in *case="'login'"></app-sign-in>
    <app-sign-up *case="'register'"></app-sign-up>
    <app-usuarios-form
      *case="'editar'"
      [empleado]="empleadoSeleccionado() || {}"
      [soloLectura]="false"
      modo="editar"
      (guardar)="onGuardarEmpleado($event)">
    </app-usuarios-form>
    <app-usuarios-form
      *case="'detalle'"
      [empleado]="empleadoSeleccionado() || {}"
      [soloLectura]="true"
      modo="detalle">
    </app-usuarios-form>
  </ng-container>
  <div *if="mensajeGlobal()">{{ mensajeGlobal() }}</div>
  <button mat-button (click)="setFormType('login')">Login</button>
  <button mat-button (click)="setFormType('register')">Registro</button>
  <button mat-button (click)="setFormType('editar', empleadoSeleccionado() || undefined)">Editar</button>
  <button mat-button (click)="setFormType('detalle', empleadoSeleccionado() || undefined)">Detalle</button>
</div>

