<div class="modal-backdrop"></div>
<div class="modal-content">
  @switch (formType()) {
    @case ('login') {
      <app-sign-in></app-sign-in>
    }
    @case ('register') {
      <app-sign-up></app-sign-up>
    }
    @case ('editar') {
      <app-usuarios-form
        [empleado]="empleadoSeleccionado() || {}"
        [soloLectura]="false"
        modo="editar"
        (guardar)="onGuardarEmpleado($event)">
      </app-usuarios-form>
    }
    @case ('detalle') {
      <app-usuarios-form
        [empleado]="empleadoSeleccionado() || {}"
        [soloLectura]="true"
        modo="detalle">
      </app-usuarios-form>
    }
  }
  
  @if (mensajeGlobal()) {
    <div>{{ mensajeGlobal() }}</div>
  }
  
  <button mat-button (click)="setFormType('login')">Login</button>
  <button mat-button (click)="setFormType('register')">Registro</button>
  <button mat-button (click)="setFormType('editar', empleadoSeleccionado() || undefined)">Editar</button>
  <button mat-button (click)="setFormType('detalle', empleadoSeleccionado() || undefined)">Detalle</button>
</div>

