.top-navbar {
  width: 100%;
  height: 60px;
  background: #1976d2;
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  justify-content: space-between;
  padding: 0 0rem;
}

.navbar-left {
  display: flex;
  gap: 1rem;
  margin-left: 1rem;
}

.navbar-sidenav {
  display: flex;
  align-items: center;
}

.navbar-right {
  display: flex;
  gap: 1rem;
  margin-left: auto;
}

.top-navbar button[mat-button] {
  color: #fff;
  font-weight: bold;
}

/* Responsive para móviles */
@media (max-width: 600px) {
  .top-navbar {
    height: auto;
    flex-direction: column;
    align-items: stretch;
    padding: 0.5rem;
  }
  .navbar-right {
    justify-content: flex-end;
    margin: 0;
    gap: 0.5rem;
  }
  .navbar-sidenav {
    margin-bottom: 0.5rem;
  }
}
