<mat-toolbar color="primary">
 <button mat-icon-button (click)="drawer.toggle()" aria-label="Abrir menú">
  <mat-icon>menu</mat-icon>
</button>
  <span class="spacer"></span>
  <button mat-icon-button [routerLink]="['/home']" aria-label="Ir a Home" class="toolbar-logo-btn">
    <img src="assets/logo.png" alt="Logo" class="toolbar-logo" />
  </button>
  <span class="spacer"></span>
 <button (click)="openModal('login')">ingresar</button>
<button (click)="openModal('register')">registrarse</button>
</mat-toolbar>



